@model ApplicationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center big-Jumbo-color" style="border-radius: 0px; border-bottom:0px!important; margin-bottom:0px !important;">
    <!-- Card image -->
    <div class="view overlay my-4">
        <h3 class="mr-2 text-white">Instore-finance </h3>
        <h1 class=" mb-2 mt-4 mr-2 text-white">R @Model.FinanceAmountToString</h1>
    </div>
</div>
<div class=" jumbo-color jumbotron hd pt-4 pb-3" style="border-radius: 0px; margin-bottom:0px !important; ">
    <h4 class="text-center" style="color:#EF6624; font-weight:500;"><b style="font-size:18px; color:#EF6624;">APPLICATION INFORMATION</b></h4>
</div>
<form action="Authorise" method="post">
    <fieldset>
        <label class="userInfo text-center font-weight-bold" style="margin-bottom:30px;">
            An Apply Code was sent via SMS to your mobile number @Model.MobileNumber: Please enter the Apply Code below to proceed with your application.
        </label>
        <!-- Text input-->
        <div class="form-group">
            <h6 class="userInfo text-center">
                <b class="text-center">
                    ENTER APPLY CODE
                </b>
            </h6>
            <div class="col-md-12">
                <input id="otp" name="otp" type="number" placeholder="Enter apply code received from SMS" class="form-control input-md userInfo input_Info" required="">

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Not received notification?<a style="color:#EF6624 !important;" id="resend" onclick="resend();"> Resend Notification</a></label>
            </div>
            <div class="col-md-12">
                <label>My mobile number is incorrect.<a style="color:#EF6624 !important;" id="resend" onclick="update_mobile();"> Update Mobile Number</a></label>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" id="proceed" style="width: 100%; background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
            </div>
        </div>
    </fieldset>
</form>
<script>
    function resend() {
        location.reload();
    }

    function update_mobile() {

        window.location.href = "ProductInfo"
    };
</script>