@model ApplicationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center big-Jumbo-color" style="border-radius: 0px; border-bottom:0px!important; margin-bottom:0px !important;">
    <!-- Card image -->
    <div class="view overlay my-4">
        <h3 class="mr-2 text-white">Transaction Amount</h3>
        <h1 class=" mb-2 mt-4 mr-2 text-white">R @Model.GetPurchsePriceConvertedToString</h1>
    </div>
</div>

<div class=" jumbo-color jumbotron hd pt-4 pb-3" style="border-radius: 0px; margin-bottom:0px !important; ">
    <h4 class="text-center" style="color:#EF6624; font-weight:500;"><b style="font-size:18px; color:#EF6624;">PROCEED TO PROCESS PAYMENT</b></h4>
</div>
<form class="form-horizontal" action="Collect" method="post">
    <fieldset style="width:100%">
        <!-- Text input-->
        <div class="form-group text-center">
            <label class="font-weight-bold">ID NUMBER</label>
            <div class="col-md-12">
                @Html.TextBoxFor(a => Model.IDNumber, new { @class = "form-control userInfo input-md input_Info", @type = "number", @placeholder = "Enter your Id Number", @id = "idNumber" })
            </div>
        </div>
        <input id="submit_handle" type="submit" style="display: none">
        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" id="proceed" style=" width: 100%;background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
            </div>
        </div>
    </fieldset>
</form>
<fieldset style="width:100%">
    <div class="form-group text-center">
        <div class="col-md-12">
            <input type="submit" id="cancel" style=" width: 100%;" value="CANCEL" class="btn btn-success btn-lg mt-2" onclick="cancelclick();" />
        </div>
    </div>
    </fieldset>
    <script>


        function cancelclick() {

            window.location.href = "Cancelled"
        };
    </script>



