@model ApplicationModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="jumbotron hd pt-4 pb-3 bg-dark" style="border-radius: 0px;">
    <h6 class="font-weight-light" style="color:white;">
        <b>
            COLLECTION COMPLETED
        </b>
    </h6>
</div>
<fieldset>
    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-12">
            <img class="center mt-5 mb-5" style="width:150px !important; height:auto;" src="~/img/android-chrome-192x192.png" />
            <h4 style="text-align:center;">Application Successfully Redeemed.</h4>
        </div>
    </div>
</fieldset>
<div class="form-group text-center">
    <div class="col-md-12">
        <input type="button" id="proceed" style=" width: 100%;background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
    </div>
</div>

<script type="text/javascript">
    $("#proceed").on('click', function () {
            window.location.href = '@Model.QrRedirect';
    });

</script>