@model ApplicationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center big-Jumbo-color" style="border-radius: 0px; border-bottom:0px!important; margin-bottom:0px !important;">
    <!-- Card image -->
    <div class="view overlay my-4">
        <h3 class="mr-2 text-white">Instore-finance  </h3>
        <h1 class=" mb-2 mt-4 mr-2 text-white">R @Model.FinanceAmountToString</h1>
    </div>
</div>
<div class=" jumbo-color jumbotron hd pt-4 pb-3" style="border-radius: 0px; margin-bottom:0px !important; ">
    <h4 class="text-center" style="color:#EF6624; font-weight:500;"><b style="font-size:18px; color:#EF6624;">APPLICATION INFORMATION</b></h4>
</div>
<form class="form-horizontal" action="CustomerInfo" method="post">
    <fieldset style="width:100%">
        <!-- Text input-->
        <div class="form-group text-center">
            <label class="font-weight-bold">FIRST NAME</label>
            <div class="col-md-12">
                <input id="name" name="name" type="text" placeholder="Enter your Name" class="form-control userInfo input-md input_Info" required>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group text-center">
            <label class="font-weight-bold">SURNAME</label>
            <div class="col-md-12">
                <input id="surname" name="surname" type="text" placeholder="Enter your Surname" class="form-control userInfo input-md input_Info" required>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group text-center">
            <label class="font-weight-bold">ID NUMBER</label>
            <div class="col-md-12">
                <input id="idNumber" name="idNumber" type="number" placeholder="Enter your ID Number" class="form-control userInfo input-md input_Info" required>
            </div>
        </div>
        <div class="form-group text-center">
            <label class="userInfo text-center">
                <b class="text-center"> WHO DO YOU BANK WITH </b>
            </label>
            <div class="col-md-12">
                @Html.DropDownListFor(x => Model.BankID, new SelectList(Model.BankLookup.Select(a => new { Value = a.Id, Text = a.Name }), "Value", "Text", 1), "Select Bank...", new { @name = "selectedLevel", @class = " input_Info form-control text-tracked text-muted mb-2", @id = "ddStatus" })
            </div>
        </div>
        <input id="submit_handle" type="submit" style="display: none">
        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" id="proceed" style=" width: 100%;background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
            </div>
        </div>
    </fieldset>
</form>


