
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<fieldset>
    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-12">
            <img class="center mt-5 mb-5" style="width:150px!important; height:auto;" src="~/lib/error.png" />
        </div>
        <div class=" jumbo-color jumbotron hd pt-4 pb-3" style="background-color: #fbfbfb; border-radius: 0px;
        margin-bottom: 0px !important">
            <h4 class="text-center" style="color:#EF6624; font-weight:500;"><b style="font-size:18px; color:#EF6624;">An error has occured. Please refresh the page or retry the provided appliction url again. If the error persists please call SwitchPay at <a href="tel:0861995008"> 086 199 5008</a> or send an email for assistance at <a href="mailto:support@switchpay.co.za" target="_blank">support@switchpay.co.za</a></b></h4>
        </div>
    </div>
</fieldset>