@model ApplicationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="jumbotron hd pt-4 pb-3 bg-dark" style="border-radius: 0px;">
    <h6 class="font-weight-light" style="color:white;"><b>INSTORE-FINANCE - PURCHASE AMOUNT </b></h6>
</div>
<label class="card-title h4 pb-2 text-center  center text-black-50"><strong class="center">Please enter a finance Amount to proceed.</strong></label>
<form action="ProductInfo" method="post">
    <fieldset style="width:100%">
        <div class="form-group text-center">
            <h6 class="userInfo text-center"><b class="text-center">ENTER PURCHASE AMOUNT</b></h6>
            <div class="col-md-12">
                <input id="amount" name="amount" type="number" min="500" max="300000" step="any" placeholder="Enter The Product Amount" class="form-control input-md" required>
            </div>
        </div>
        <p class="font-weight-normal pl-3 pr-3">Thank you for selecting the Instore-finance option for your product.</p>
        <p class="font-weight-normal  pl-3 pr-3">
            When you proceed you will be required to complete your personal information to confirm if you qualify for the purchase of the product on a loan from an NCA approved financial services provider.
        </p>
        <p class="font-weight-normal  pl-3 pr-3">During the process you will be directed to @Model.Provider that will process your loan application to complete your purchase.</p>
        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" id="proceed" style=" width: 100%; background-color: #212529;" value="PROCEED" class="btn btn-success btn-lg mt-2" />
            </div>
            <div class="col-md-12">
                <input type="submit" id="cancel" style="width: 100%;color: #f26522;border-color: #f26522; border-width:2px; background-color:white;" value="CANCEL" class="btn btn-success btn-lg mt-2" />
            </div>
        </div>
    </fieldset>
</form>
